button{
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 100px;
    background-color: rgb(41, 83, 41);
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 2rem;
}
button:hover{
    background-color: green;
}
button:active{
    background-color: rgb(12, 162, 12);
}
#näppäimet{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
#laskin{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(41, 7, 7);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#näyttö{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(100, 67, 67);
    color: white;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(9, 29, 9)
}
.operator-btn{
    background-color: rgb(222, 9, 9);
}