button{
    width: 120px;
    height: 120px;
    border: none;
    border-radius: 100px;
    background-color: rgb(41, 83, 41);
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 2rem;
}
#näppäimet{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
#laskin{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(41, 7, 7);
    border-radius: 20px;
}